.user-link {
  padding: .5em 0;

  @include media-breakpoint-up(sm) {
    padding: 1em;
  }

  a,
  a:hover,
  a:focus {
    border: 0;
    color: $navy--dark;
    text-transform: none;

    @include media-breakpoint-up(sm) {
      font-size: $h2-font-size;
    }
  }

  img {
    height: 60px;
    width: 60px;
  }
}
