// Tabs styled to look like a progress bar.
.verify-form__tabs {
  border: 0;
  position: relative;

  // Each tab link.
  .nav-link {
    border: 0;
    color: transparentize($navy, .5);
    cursor: default;
    display: none;
    flex-basis: 33.33%;
    padding: 0;
    text-align: center;

    @include media-breakpoint-up(sm) {
      display: block;
    }

    // Style the circle indicator below each tab name.
    svg {
      bottom: -.5em;
      color: $gray--medium;
      margin-left: -.5em;
      position: absolute;
    }

    &.active {
      color: $navy;

      svg {
        color: $gold;
      }
    }

    // Form the line between the tabs.
    hr {
      border-top: 4px solid $gray--medium;
      margin: 1em 0 0;
    }

    &:first-child hr {
      margin: 1em 0 0 auto;
      width: 50%;
    }

    &:last-child hr {
      margin: 1em auto 0 0;
      width: 50%;
    }

    h2 {
      border: 0;
      font-size: 1rem;
    }
  }
}

.verify-form__submit__success {
  color: $blue;
  font-size: $h2-font-size;
}
