.nav-item--search {
  flex-grow: 1;
  position: relative;
}

.search-autocomplete {
  background-color: $white;
  box-shadow: $box-shadow--tile;
  color: $gray;
  margin-left: -2em;
  min-width: 320px;
  padding: .5em 1em;
  position: absolute;
  width: calc(100% + 2em);
  z-index: 2;

  @include media-breakpoint-up(sm) {
    margin-left: 1em;
    width: calc(100% - 4em);
  }

  .user-link {
    padding: .25em 0;

    img {
      height: 30px;
      width: 30px;
    }
  }

  .btn {
    color: $blue;
  }
}
