language: python
python:
  - "3.6"

sudo: required

services:
  - docker

env:
  - TOX_ENV=py36
  - TOX_ENV=flake8

matrix:
  fast_finish: true

install:
  - pip install tox

script: tox -e $TOX_ENV

after_success:
  - docker --version  # document the version travis is using

jobs:
  include:
    - stage: build
      install: pip install awscli # install aws cli w/o sudo
      env:
        - ENVIRONMENT=dev # put aws in the path
        - PATH=$PATH:$HOME/.local/bin # put aws in the path
        - AWS_ACCESS_KEY_ID=$CI_AWS_ACCESS_KEY_ID
        - AWS_SECRET_ACCESS_KEY=$CI_AWS_SECRET_ACCESS_KEY
      script: make push
    - stage: plan
      install: pip install awscli # install aws cli w/o sudo
      env:
        - ENVIRONMENT=dev # put aws in the path
        - PATH=$PATH:$HOME/.local/bin # put aws in the path
        - AWS_ACCESS_KEY_ID=$CI_AWS_ACCESS_KEY_ID
        - AWS_SECRET_ACCESS_KEY=$CI_AWS_SECRET_ACCESS_KEY
      script: make plan

stages:
  - test
  - name: build
    if: branch = master AND type = push 
  - name: plan
    if: fork == false
    
