{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container member-dashboard mt-5 mb-5"><div class="row">
  <div class="col-md-6 pr-4 pl-4">
      <h2 class="mb-3 pb-3">Notifications <a href="{% url 'member:notifications' %}">View All Notifications</a></h2>
      <div class="recent-alerts">
        {% include 'member/notifications-list.html' %}
      </div>
      <h2 class="mb-3 pb-3">Organizations <a href="{% url 'member:organizations' pk=request.user.member.pk %}">Edit</a></h2>
      <div class="organization-list">
        {% if organizations %}
          {% for organization in organizations %}
            <div class="organization-item">
              {% if organization.picture_url %}
              <img src="{{ organization.picture_url }}" alt="" class="alert-item__image">
              {% else %}
              <img src="{% static '/images/icons/organization_default.png' %}" alt="" class="alert-item__image">
              {% endif %}
              <div class="title">{{ organization }}</div>
            </div>
          {% endfor %}
        {% else %}
          <div class="no-data">
            <img src="{% static '/images/icons/alert.svg' %}" alt="" class="alert-item__image">
            <div class="text">
              <div class="title">No Organizations</div>
            </div>
          </div>
        {% endif %}
      </div>
  </div><!-- end of first column -->
  <div class="member-data col-md-6 pr-4 pl-4">
      <h2 class="mb-3 pb-3">Your Profile <a href="{% url 'member:member-update' pk=request.user.member.pk %}">Edit</a></h2>
      <div class="profile">
                          {% if request.user.userprofile.picture_url %}
                      <img src="{{ request.user.userprofile.picture_url }}" alt="Account menu icon", class="alert-item__image">
                    {% else %}
                      <img src="{% static '/images/icons/avatar_default.png' %}" alt="Account menu icon", class="alert-item__image">
                    {% endif %}


        <div class="profile-text">
          <div class="title">{{ request.user.first_name }} {{ request.user.last_name }}</div>
          <div class="age">{{ request.user.member }}</div>
        </div>
      </div>

      {% ifequal id_token_payload.ial "1" %}
      <h2 class="mb-3 pb-3">Health Records</h2>
      <!-- Add records to contect when complete -->
      <div class="no-data">
        <img src="{% static '/images/icons/alert.svg' %}" alt="" class="alert-item__image">
        <div class="text">
          <div class="title">Identity Unverified</div>
          <div class="age">No health records available until identity verification is complete</div>
        </div>
      </div>
      {% endifequal %}

      {% ifequal id_token_payload.ial "2" %}
      <h2 class="mb-3 pb-3">Health Records <a href="{% url 'member:records' pk=request.user.member.pk %}">View All Records</a></h2>
      <!-- Add records to contect when complete -->
      <div class="no-data">
        <img src="{% static '/images/icons/alert.svg' %}" alt="" class="alert-item__image">
        <div class="text">
          <div class="title">Identity Verified</div>
          <div class="age"><a href="{% url 'member:records' pk=request.user.member.pk %}">View your records</a></div>
        </div>
      </div>
      {% endifequal %}
  </div>
</div>
{% endblock content %}
