{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
{% endblock %}

{% block content %}
<div class="row mr-0 ml-0">
    {% include "member_sidebar.html" with member=member %}
    <div class="member-tabs col-lg-9 p-5">
        {% block organizations_page_title %}
        <h2 class="page-title">Organizations</h2>
        <hr/>
        {% endblock %}
        {% block organizations_detail %}
        <div class="member-orgs">
            <div class="mt-5">
                <h2>Current Organizations</h2>
                <div class="row">
                    {% for organization in organizations.current %}
                        {% include "member/organization_tile.html" with member=member organization=organization status="current" %}
                    {% endfor %}
                </div>
            </div>
            <div class="mt-5">
                <h2>Requests Waiting</h2>
                <div class="row">
                    {% for organization in organizations.requested %}
                        {% include "member/organization_tile.html" with member=member organization=organization status="requested" %}
                    {% endfor %}
                </div>
            </div>
            <div class="mt-5">
                <h2>Other Organizations</h2>
                <div class="row">
                    {% for organization in organizations.available %}
                        {% include "member/organization_tile.html" with member=member organization=organization status="available" %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endblock organizations_detail %}
    </div>
</div>
{% endblock content %}
