{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div class="row mr-0 ml-0">
    {% include "member_sidebar.html" with member=member %}
    <div class="member-tabs col-lg-9 p-5">
        <h2 class="page-title">Organizations</h2>
        <hr/>
        <div class="member-orgs">
            <div class="mt-5">
                <h2>Current Organizations</h2>
                <div class="row">
                    {% for organization in organizations.current %}
                    <div class="col-6 col-sm-4 col-md-3">
                        <!-- The member, or an agent of this org, can disconnect the org. -->
                        {% if member.user == request.user or organization in request.user.organization_set.all %}
                        <a class="current-organization" 
                            data-toggle="modal" 
                            data-target="#organization-current-{{organization.id}}" 
                            href="#">
                        {% endif %}
                            <div class="organization__tile">
                                {% if member.user == request.user or organization in request.user.organization_set.all %}
                                <div class="tile__action">&#x2715;</div>
                                {% endif %}
                                {% if organization.picture_url %}
                                <img class="tile__logo" src="{{ organization.picture_url }}"/>
                                {% else %}
                                <img class="tile__logo" src="{% static '/images/icons/organization_default.png' %}"/>
                                {% endif %}
                                <p class="tile__label">{{ organization.name }}</p>
                            </div>
                        {% if member.user == request.user or organization in request.user.organization_set.all %}
                        </a>
                        {% endif %}
                    </div>
                    {% include "member/organization_request_modal.html" with member=member organization=organization status="current" %}
                    {% endfor %}
                </div>
            </div>
            <div class="mt-5">
                <h2>Requests Waiting</h2>
                <div class="row">
                    {% for organization in organizations.requested %}
                    <div class="col-6 col-sm-4 col-md-3">
                        {% if member.user == request.user %}
                        <a class="requested-organization" 
                            data-toggle="modal" 
                            data-target="#organization-requested-{{organization.id}}" 
                            href="#">
                        {% endif %}
                            <div class="organization__tile">
                                {% if member.user == request.user %}
                                <div class="tile__action"><img src="{% static '/images/icons/add.png' %}" alt=""></div>
                                {% endif %}
                                {% if organization.picture_url %}
                                <img class="tile__logo" src="{{ organization.picture_url }}"/>
                                {% else %}
                                <img class="tile__logo" src="{% static '/images/icons/organization_default.png' %}"/>
                                {% endif %}
                                <p class="tile__label">{{ organization.name }}</p>
                            </div>
                        {% if member.user == request.user %}
                        </a>
                        {% endif %}
                    </div>
                    {% include "member/organization_request_modal.html" with member=member organization=organization  status="requested" %}
                    {% endfor %}
                </div>
            </div>
            <div class="mt-5">
                <h2>Other Organizations</h2>
                <div class="row">
                    {% for organization in organizations.available %}
                    <div class="col-6 col-sm-4 col-md-3">
                        {% if member.user == request.user %}
                        <a class="available-organization" 
                            data-toggle="modal" 
                            data-target="#organization-available-{{organization.id}}" 
                            href="#">
                        {% endif %}
                            <div class="organization__tile">
                                {% if member.user == request.user %}
                                <div class="tile__action"><img src="{% static '/images/icons/add.png' %}" alt=""></div>
                                {% endif %}
                                {% if organization.picture_url %}
                                <img class="tile__logo" src="{{ organization.picture_url }}"/>
                                {% else %}
                                <img class="tile__logo" src="{% static '/images/icons/organization_default.png' %}"/>
                                {% endif %}
                                <p class="tile__label">{{ organization.name }}</p>
                            </div>
                        {% if member.user == request.user %}
                        </a>
                        {% endif %}
                    </div>
                    {% include "member/organization_request_modal.html" with member=member organization=organization status="available" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
