{% load static %}
<!-- Modal -->
<div class="modal" id="organization-{{status}}-{{organization.id}}" tabindex="-1" role="dialog" aria-labelledby="organization-{{status}}-{{organization.id}}-title" aria-hidden="true">
  <div class="organization-request__modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="organization-{{status}}-{{organization.id}}-title">
          {% if organization.picture_url %}
          <img src="{{organization.picture_url}}"/>
          {% else %}
          <img src="{% static '/images/icons/organization_default.png' %}"/>
          {% endif %}
          {{organization.name}}
        </h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        {% ifequal status 'current' %}
        <h2>Revoke Access</h2>
        <div class="container-fluid">
          <div class="row">
            <div class="col-3 col-sm-2"><img src="{% static '/images/icons/alert.svg' %}" alt="" class="alert-item__image"/></div>
            <div class="col-9 col-sm-10">
              <p>Revoke from {{organization.name}} access to
                {% if request.user == member.user %}
                your
                {% else %}
                {{ member.user.first_name }} {{ member.user.last_name }}’s
                {% endif %}
                medical files including mental health records?</p>
            </div>
          </div>
        </div>
        {% else %}
          {% if request.user == member.user %}
        <h2>{% ifequal status 'requested' %}Approve{% else %}Grant{% endifequal %} Access</h2>
        <div class="container-fluid">
          <div class="row">
            <div class="col-3 col-sm-2"><img src="{% static '/images/icons/alert.svg' %}" alt="" class="alert-item__image"/></div>
            <div class="col-9 col-sm-10"><p>Allow {{organization.name}} to access your medical files including mental health records?</p></div>
          </div>
        </div>
          {% elif organization in request.user.agent_organizations.all %}
          <div class="container-fluid">
            <div class="row">
              <div class="col-3 col-sm-2"><img src="{% static '/images/icons/alert.svg' %}" alt="" class="alert-item__image"/></div>
              <div class="col-9 col-sm-10">
                {% if status == 'requested' %}
                <p>Withdraw {{organization.name}}’s request to access
                  {{member.user.first_name}} {{member.user.last_name}}’s medical files
                  including mental health records?
                </p>
                {% else %}
                <p>Request access for
                  to {{member.user.first_name}} {{member.user.last_name}}’s medical files
                  including mental health records?</p>
                {% endif %}
              </div>
            </div>
          </div>
          {% endif %}
        {% endifequal %}
      </div>
      <div class="modal-footer">
        <form method="POST" action="{% url 'member:resource_request_response' %}?next={{request.path}}">
          {% csrf_token %}
          <input type="hidden" name="organization" value="{{organization.id}}"></input>
          <input type="hidden" name="member" value="{{member.user.id}}"></input>
          {% ifequal status 'current' %}
          <input type="submit" name="revoke" class="btn btn-primary" value="Yes, Revoke"></input>
          {% endifequal %}
          {% ifequal status 'requested' %}
            {% if request.user == member.user %}
          <input type="submit" name="approve" class="btn btn-primary" value="Yes, Approve"></input>
          <input type="submit" name="deny" class="btn btn-secondary" value="No, Deny"></input>
            {% elif organization in request.user.agent_organizations.all %}
          <input type="submit" name="deny" class="btn btn-primary" value="Withdraw Request"></input>
            {% endif %}
          {% endifequal %}
          {% ifequal status 'available' %}
            {% if request.user == member.user %}
          <input type="submit" name="approve" class="btn btn-primary" value="Grant Access"></input>
            {% elif organization in request.user.agent_organizations.all %}
          <input type="submit" name="requested" class="btn btn-primary" value="Request Access"></input>
            {% endif %}
          {% endifequal %}
          <button class="btn btn-secondary" data-dismiss="modal">Cancel</input>
        </form>
      </div>
    </div>
  </div>
</div>
