{% load static %}
    <div class="col-6 col-sm-4 col-md-3">
        <!-- The member, or an agent of this org, can disconnect the org. -->
        {% if member.user == request.user or organization in request.user.organization_set.all %}
        <a class="{{status}}-organization" 
            data-toggle="modal" 
            data-target="#organization-{{status}}-{{organization.id}}" 
            href="#">
        {% endif %}
            <div class="organization__tile">
                {% if status == 'current' %}
                    {% if member.user == request.user or organization in request.user.organization_set.all %}
                    <div class="tile__action">&#x2715;</div>
                    {% endif %}
                {% elif status == 'available' %}
                    {% if member.user == request.user or organization in request.user.organization_set.all %}
                    <div class="tile__action"><img src="{% static '/images/icons/add.png' %}" alt=""></div>
                    {% endif %}
                {% else %}
                    {% if member.user == request.user %}
                    <div class="tile__action"><img src="{% static '/images/icons/add.png' %}" alt=""></div>
                    {% elif organization in request.user.organization_set.all %}
                    <div class="tile__action">&#x2715;</div>
                    {% endif %}    
                {% endif %}

                {% if organization.picture_url %}
                <img class="tile__logo" src="{{ organization.picture_url }}"/>
                {% else %}
                <img class="tile__logo" src="{% static '/images/icons/organization_default.png' %}"/>
                {% endif %}
                <p class="tile__label">{{ organization.name }}</p>
            </div>
            {% if member.user == request.user or organization in request.user.organization_set.all %}
            </a>
            {% endif %}
    </div>
    {% include "member/organization_request_modal.html" with member=member organization=organization status=status %}