{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="org-dashboard container mt-5 mb-5"><div class="row">
    {% if orgs_with_members %}
      {% for org_with_mems in orgs_with_members %}
        <div class="recent-alerts col-md-6 pr-4 pl-4">
            <h2 class="text-center mb-3">Notifications</h2>
            {% include 'member/notifications-list.html' with notifications=org_with_mems.notifications %}

            <div class="text-center">
               <!-- <button type="button" class="mt-4 btn btn-primary">View All Notifications</button> -->
            </div>
        </div>

        <div class="recent-members col-md-6 pr-4 pl-4">
            <h2 class="text-center mb-3 pb-3">{{ org_with_mems.organization }} Members</h2>
              <ul class="list--formatted">
                  {% for user in org_with_mems.members %}
                      <li class="user-link">
                          <a href="{% url 'member:member-profile' pk=user.pk %}">
                              <img class="mr-3"  src="{% if user.profile.picture %}{{ user.profile.picture }}{% else %}{% static '/images/icons/avatar_default.png' %}{% endif %}" >
                              {{ user.first_name }} {{ user.last_name }}
                          </a>
                      </li>
                  {% endfor %}
              </ul>
            <div class="text-center">
                <a class="btn btn-primary mt-4" href="{% url 'org:search' %}">View All Members</a>
            </div>
        </div>

                <div class="recent-alerts col-md-6 pr-4 pl-4">

        </div>



      {% endfor %}
    {% else %}
      <div class="recent-alerts col-md-6 pr-4 pl-4">
        <h2 class="text-center mb-3">Notifications</h2>
      </div>


      <div class="recent-members col-md-6 pr-4 pl-4">
        <h2 class="text-center mb-3 pb-3">Recently Viewed Members</h2>
      </div>
    {% endif %}
</div>

{% endblock content %}
