{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5 mb-5"><div class="row">
    {% if organizations %}
      {% for organization in organizations %}
        <div class="recent-alerts col-md-12 pr-4 pl-4">

          <span></span>
        </div>

        <div class="recent-alerts col-md-6 pr-4 pl-4">
            <h2 class="text-center mb-3">Notifications</h2>
            
            <div class="tile undefined">
                <div class="alert-item">
                    <img src="/images/avatars/sloan.png" alt="" class="alert-item__image">
                    <div>
                        <div class="alert-item__text">
                            <p><strong>Danielle Sloan</strong> accepted your request.</p>
                        </div>
                        <div class="alert-item__time">3 minutes ago</div>
                    </div>
                </div>
            </div>
            
            <div class="text-center">
               <!-- <button type="button" class="mt-4 btn btn-primary">View All Notifications</button> -->
            </div>
        </div>
        
        
        
        <div class="recent-members col-md-6 pr-4 pl-4">
            <h2 class="text-center mb-3 pb-3">{{ organization }} Members</h2>
              <ul class="list--formatted">
                  {% for member in organization.members.all %}
                      <li class="user-link">
                          <a href="{% url 'member:member-update' pk=member.pk %}">
                              <img src="{% static '/images/icons/avatar_default.png' %}" alt="{{member.user.first_name}} {{member.user.last_name}} " class="mr-3">
                              {{ member }}
                          </a>
                      </li>
                  {% endfor %}
              </ul>
            <div class="text-center">
                <a class="btn btn-primary mt-4" href="{% url 'org:search' %}">View All Members</a>
            </div>
        </div>
        
                <div class="recent-alerts col-md-6 pr-4 pl-4">
    
        </div>
        
        
        
      {% endfor %}
    {% else %}
      <div class="recent-alerts col-md-6 pr-4 pl-4">
        <h2 class="text-center mb-3">Notifications</h2>
      </div>
      
      
      <div class="recent-members col-md-6 pr-4 pl-4">
        <h2 class="text-center mb-3 pb-3">Recently Viewed Members</h2>
      </div>
    {% endif %}
</div>

{% endblock content %}
