{% extends "modal_base.html" %}
{% load static %}

{% block content %}
<h1>
    <span>You're almost done, <em>{{ member }}</em>! Click on the button below to complete setup on your device</span>
    <button type="button" class="close-btn" aria-label="Close">&times;</button>
</h1>

<a class="btn btn-primary" href="{% url 'org:org_create_member_complete' organization.slug member.user.username %}">Click to Complete</a>


You're almost done!
Please copy the link below into a NEW INGOGNITO browser to open a window for {{ member }} to complete setup on your device.

{{ url_to_set_password }}


{% endblock content %}
