{% extends "modal_base.html" %}
{% load static %}

{% block content %}
<h1>
    <span>Fill in the following data for new member <em>{{ member.first_name }} {{ member.last_name }}</em> at <em>{{ organization }}</em></span>
    <button type="button" class="close-btn" aria-label="Close">&times;</button>
</h1>

{% if errors %}
    <div class="errors">
        {% for key, error in errors.items %}
            <div>{{ key.title }}: {% for err in error %}{{ err }}{% endfor %}</div>
        {% endfor %}
    </div>
{% endif %}

<form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Submit</button>
</form>
<script>
$(document).ready(function () {
    $('#id_birthdate').datepicker();
});
</script>
{% endblock content %}
