{% extends "modal_base.html" %}
{% load static %}

{% block content %}
<h1>
    <span><em>{{ member.first_name }} {{ member.last_name }}</em>, fill out this form to complete your account setup.
    </span>
    <button type="button" class="close-btn" aria-label="Close">&times;</button>
</h1>

{% if errors %}
    <div class="errors">
        {% for key, error in errors.items %}
            <div>{{ key.title }}: {% for err in error %}{{ err }}{% endfor %}</div>
        {% endfor %}
    </div>
{% endif %}

<form method="POST">
  {% csrf_token %}
  {{ form }}
  <button type="submit">Submit</button>
</form>
<script>
  // include the org name in the label for the give_org_access checkbox.
  var give_org_access_label = document.querySelectorAll("label[for='id_give_org_access_to_data']")[0];
  give_org_access_label.innerHTML = 'Give <em>{{ organization.name }}</em> access to your data:';
</script>


{% endblock content %}
