{% extends "modal_base.html" %}
{% load static %}

{% block content %}
<h1>
    <span><em>{{ member }}</em> complete your account creation at <em>{{ organization }}</em> here:</span>
    <button type="button" class="close-btn" aria-label="Close">&times;</button>
</h1>

{% if errors %}
  <div class="errors">{{ errors }}</div>
{% endif %}

<form method="POST">
  {% csrf_token %}
  {{ form }}
  <button type="submit">Submit</button>
</form>

<div class="terms-and-conditions">
    <h3>Terms and conditions</h3>
    <p>You use this website at your own risk.</p>
</div>

{% endblock content %}
