{% extends "modal_base.html" %}
{% load static %}

{% block content %}
<h1>
    <span>Fill in the following additional info for new member <em>{{ member }}</em> at <em>{{ organization }}</em></span>
    <button type="button" class="close-btn" aria-label="Close">&times;</button>
</h1>

{% if errors %}
    <div class="errors">
        {% for key, error in errors.items %}
            <div>{{ key.title }}: {{ error.0 }}</div>
        {% endfor %}
    </div>
{% endif %}

<form method="POST">
  {% csrf_token %}
  {{ form }}
<button type="submit">Submit</button>

{% endblock content %}
