{% extends "modal_base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>
                

                    <span>Attention agent for {{ organization }}: Allow <em>{{ member.first_name }} {{ member.last_name }}</em> to complete his or her
                   account by having them scan the QR code with their device or hand them the laptop/tablet to complete the form.
                   </span>
                
                
                
                <button type="button" class="close-btn" aria-label="Close">&times;</button>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{% url 'logout' %}?next={{ url_to_set_password }}" target="_blank" rel="noopener noreferrer"><img src="data:image/png;base64, {{ qrcode }}" alt="{{ url_to_set_password }}"/></a>
        </div>
    </div>
    <div class="row my-2">
        <div class="col">
            <a class="btn btn-primary" href="{% url 'logout' %}?next={{ url_to_set_password }}" target="_blank" rel="noopener noreferrer">Click to Allow {{ member.first_name }} {{ member.last_name }} to complete account setup</a>
        </div>
    </div>
</div>

{% endblock content %}
