{% extends "modal_base.html" %}
{% load static %}

{% block content %}

<h1>
    <span>Congratulations, <em>{{ member.first_name }} {{ member.last_name }}</em>! You have completed your account creation at <em>{{ organization }}</em>.
    Login to connect your health data to your account.
    </span>
    <button type="button" class="close-btn" aria-label="Close">&times;</button>
</h1>

<a class="btn btn-primary" href="{% url 'member:member-profile' pk=member.pk %}" target="_parent">Go to {{ member }} profile</a>

{% endblock content %}
