{% load static %}
<div class="row container-fluid text-center">

        <div class="container-fluid row-container-fluid text-center" >
            <a href="https://github.com/transparenthealth/smh_app/issues">Report Bugs  </a>  |
            <a href="{{settings.TOS_URI}}">{{settings.TOS_TITLE}} </a>  |
            <a href="{{settings.POLICY_URI}}">{{settings.POLICY_TITLE}} </a>  |
            <a href="mailto:{{settings.CONTACT_EMAIL}}">Email Us </a>  |
            <a href="https://github.com/transparenthealth/smh_app"> Open Source</a>

        </div>

        <div class="row-container-fluid" >
            <p class="row-container-fluid footer-small well">
                {{ settings.APPLICATION_TITLE }} is operated by {{settings.ORGANIZATION_TITLE }}.
                {{settings.DISCLOSURE_TEXT}}
            </p>
        </div>

        <div class="container-fluid row-container-fluid text-center" >
            {% if settings.DEBUG %}
            User Type = {{ request.user.userprofile.user_type_display|default:"Anonymous" }}
            {% endif %}
        </div>
 </div>

<!-- JavaScript auto-logout -->
{% if user.is_authenticated %}
    <script type="text/javascript">
        var time = 1000 * {% firstof settings.SESSION_COOKIE_AGE 1800 %}; // default 30 minutes
        var theTimer = setTimeout("document.location.href='/logout'",time);
    </script>
{% endif %}

 <script src="{% static 'App.js' %}"></script>
