.tile {
  border-radius: 8px;
  box-shadow: $box-shadow--tile;
  margin: .75em 0;
  padding: 1em;
  transition: all .2s ease;

  &:hover,
  &:focus {
    &:not(.disabled) {
      box-shadow: transparentize($black, .4) 0 2px 10px;
    }
  }
}

// Flex container for square-ish tiles.
.tile-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include media-breakpoint-up(lg) {
    justify-content: space-between;
  }
}

.tile-flex__item {
  align-items: center;
  background-color: $white;
  cursor: pointer;
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 7.5px 15px;

  @include media-breakpoint-up(sm) {
    flex-basis: calc(25% - 15px);
    min-width: 165px;
  }

  @include media-breakpoint-up(lg) {
    margin: 7.5px;
  }

  &.disabled {
    cursor: default;

    img,
    p {
      opacity: .3;
    }
  }

  p {
    color: $blue;
    font-weight: 700;
    margin: 1.5em 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
}

// Special tile used on data sources tab.
.tile-flex__item--add {
  position: relative;

  img {
    position: absolute;
    right: 1em;
    top: 1em;
  }

  p {
    padding-top: 6em;
  }
}
