.alerts {
  padding: 0 1em;

  @include media-breakpoint-up(lg) {
    padding: 0;
  }

  .navbar-text {
    border-bottom: solid 1px $gray-200;

    &:last-child {
      border-bottom: 0;
    }
  }

  .dropdown-menu::after {
    display: none;

    @include media-breakpoint-up(sm) {
      display: block;
      right: .875em;
    }

    @include media-breakpoint-up(lg) {
      right: calc(.5em - 1px);
    }
  }
}
