main {
  width: 100%;
}

// App wrapper class when user is not logged in.
.auth--false {
  background-color: $blue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: $h2-font-size;
    height: $h2-font-size;
    margin-left: 8px;
  }
  a, a:link, a:visited {
    font-size: $h4-font-size;
    color: $blue;
    cursor: pointer;
  }
  a:hover {
    color: $navy;
    text-decoration: none;
  }
}

.hide {
  display: none;
}

.loading-gif {
  width: 100px;
}