body {
  color: $navy--dark;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  @extend .heading;
}

.subheading {
  color: $gray;
}

a {
  color: $gold;
  text-decoration: none;
  text-transform: uppercase;
}

p,
li,
form,
td {
  a {
    border-bottom: .1em solid transparentize($gold, .9);
    transition: all .2s ease;

    &:hover,
    &:focus {
      border-bottom: 1px solid $gold;
      color: $gold;
      text-decoration: none;
    }
  }
}

small {
  font-size: 90%;
}
