// Typography.
$h1-font-size: 2rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;
$h4-font-size: 1rem;
$h5-font-size: 1rem;
$headings-font-weight: 700;

// Colors.
$blue: #4b66ea;
$gold: #fdb24b;
$navy: #00157e;
$navy--dark: #131c4b;
$navy--border: transparentize($navy, .9);
$white: #fff;
$gray: #707070;
$gray--light: #f3f3f6;
$gray--lighter: #c5c5c5;
$gray--medium: #e5e5e5; // medium should be titles lightest
$black: #000;
$table-border-color: $navy--border;

// breadcrumb
$breadcrumb-active-color: $black;
$breadcrumb-bg: rgb(255,255,255);
$breadcrumb-divider: ">";
$breadcrumb-divider-color: $black;
$breadcrumb-item-padding: 1em;

// Other.
$box-shadow--tile: transparentize($black, .84) 0 2px 10px;
