main {
  width: 100%;
}

// App wrapper class when user is not logged in.
.auth--false {
  background-color: $blue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
