.member-tabs {
  background-color: $white;

  .member-tabs__title {
    @extend .heading-border;

    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  .record-heading-wrapper {
    a, a:link, a:visited {
      font-size: $h4-font-size;
      color: $blue;
      cursor: pointer;
    }
    a:hover {
      color: $navy;
      text-decoration: none;
    }
  }
}
