.header {
  background-color: $blue;
  color: $white;
  padding-bottom: .5em;
  padding-top: .5em;
  position: relative;
}

// Logo.
.navbar-brand {
  img {
    width: 225px;

    @include media-breakpoint-up(md) {
      width: 310px;
    }
  }
}

.header--anon {
  @include media-breakpoint-up(sm) {
    padding: 2em 0 6em;
  }

  a {
    display: block;
  }

  &__heading {
    border-top: 1px solid $white;
    color: $white;
    display: inline-block;
    font-size: 1em;
    margin: .5em 0 0;
    padding: 1em 2em 0;
  }
}

.header--auth {
  .navbar-expand-lg .navbar-collapse {
    @include media-breakpoint-up(lg) {
      display: block !important;
    }
  }

  .navbar-collapse {
    flex-grow: 1;
    padding: 2em 0 1em;

    @include media-breakpoint-up(lg) {
      padding: 1em 0 0;
    }

    @include media-breakpoint-up(lg) {
      padding: 0;
    }

    .navbar-nav {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 1em;

      @include media-breakpoint-up(md) {
        margin-top: 0;
      }
    }

    .navbar-nav__wrapper {
      flex-wrap: wrap;

      @include media-breakpoint-up(md) {
        flex-wrap: nowrap;
      }
    }
  }

  .navbar-toggler {
    background-color: $white;
    padding: .25em;
  }

  // Common header dropdown menu styles.
  .dropdown {
    position: static;

    @include media-breakpoint-up(sm) {
      position: relative;
    }
  }

  .dropdown-menu {
    color: $navy--dark;
    left: auto;
    min-width: 300px;
    padding: .5em;
    position: absolute;
    right: 0;

    @include media-breakpoint-up(sm) {
      width: 320px;
    }

    &::after {
      color: white;
      content: "\25B2";
      position: absolute;
      top: -1em;
    }

    p {
      margin-bottom: .25em;
    }
  }

  .dropdown-toggle {
    &::after {
      display: none;
    }
  }

  .navbar-text {
    padding: .5rem;
  }
}

// "Create Account" button has different padding from standard buttons.
.nav-item--button {
  .btn {
    padding: .5em 1em;
  }
}
