<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
    {% block head %}
        {% include "include/head.html" %}
    {% endblock %}

    {% block extra_head %}{% endblock %}
    </head>

    <body>
        {% if request.resolver_match.url_name != 'home' %}
            {% include 'header.html' %}
        {% endif %}
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        {% if request.user.agent_organizations.first %}
            <div class="modal" id="create-member-modal">
                <iframe src="{% url 'org:org_create_member' request.user.agent_organizations.first.slug %}"></iframe>
                <div id="create-member-modal-backdrop"></div>
            </div>
        {% endif %}

        {% include "include/footer.html" %}

        <!-- JavaScript auto-logout -->
        {% if user.is_authenticated %}
            <script type="text/javascript">
                var time = 1000 * {% firstof settings.SESSION_COOKIE_AGE 1800 %}; // default 30 minutes
                var theTimer = setTimeout("document.location.href='/logout'",time);
            </script>
        {% endif %}

        <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script src="{% static 'App.js' %}"></script>

        {% include 'session_security/all.html' %}

        {% block ExtraJSFoot %}{% endblock %}

    </body>
</html>
