<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico" />
        <meta
                                  name="viewport"
                                  content="width=device-width, initial-scale=1, shrink-to-fit=no"
                                  />
        <meta name="theme-color" content="#000000" />
        <!-- Hide app until it loads to avoid flash of unstyled content. -->
        <style>
.app { opacity: 0; }
        </style>
        <!-- CSS from CSS Repo -->
        <link rel="stylesheet" href="{% static '/main.css' %}" type="text/css" />

        <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,700" rel="stylesheet">
        <!--
            manifest.json provides metadata used when your web app is installed on a
            user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
        -->
        <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
        <!--
            Notice the use of %PUBLIC_URL% in the tags above.
            It will be replaced with the URL of the `public` folder during the build.
            Only files inside the `public` folder can be referenced from the HTML.

            Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
            work correctly both with client-side routing and a non-root public URL.
            Learn how to configure a non-root public URL by running `npm run build`.
        -->
        <title>Share My Health</title>
    </head>

    <body>
        {% block content %}
        {% endblock content %}
    </body>

</html>
