<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
    {% block head %}
        {% include "include/head.html" %}
    {% endblock %}

    {% block extra_head %}{% endblock %}
    </head>

    <body>
        {% if request.resolver_match.url_name != 'home' %}
            {% include 'header.html' %}
        {% endif %}
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        {% if request.user.agent_organizations.first %}
            <div class="modal" id="create-member-modal">
                <iframe src="{% url 'org:org_create_member' request.user.agent_organizations.first.slug %}"></iframe>
                <div id="create-member-modal-backdrop"></div>
            </div>
        {% endif %}

        {% include "include/footer.html" %}

        {% include "include/foot.html" %}

        {% block ExtraJSFoot %}{% endblock %}

    </body>
</html>
