{% load static %}
<header class="header header--auth">
    <nav class="container d-flex justify-content-between align-content-center navbar navbar-expand-lg navbar-light">
        <a href="{% url 'home' %}" class="navbar-brand">
            <img src="{% static '/images/logo.svg' %}" alt="Share My Health Home">
        </a>
        <div class="navbar-collapse collapse" id="responsive-navbar-nav">
            <div class="navbar-nav__wrapper d-flex justify-content-end align-items-center">
                <div class="nav-item nav-item--search pr-3 pl-3">
                    {% if request.user.userprofile.user_type_code == "O" %}
                    <form action="{% url 'org:search' %}" id="header-search-form" class="form--search form--search--header form-inline">
                        <label class="sr-only sr-only-focusable form-label">Search</label>
                        <input id="member-search" type="text" placeholder="Search members" name="term" class="bg-white" value="">
                        <button type="submit" class="button--reset btn btn-primary">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>
                        </button>
                    </form>

                    <div id="autocomplete-user-results" class="search-autocomplete hide">
                        <p class="results-title font-italic mb-0">No Results</p>
                        <ul class="results-list list--formatted">
                            <!-- results go here -->
                        </ul>
                        <div class="text-center">
                            <button class="button--reset btn btn-primary mt-3 all-results"></button>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="mr-auto align-items-center navbar-nav">
                    <div class="nav-item nav-item--button pr-3 pl-3">
                        {% if request.user.agent_organizations.first %}
                          {% if request.user.userprofile.user_type_code == "O" %}
                            <a id="create-account-btn" href="#" class="btn btn-primary" role="button">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" class="svg-inline--fa fa-plus fa-w-14 mr-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>
                                Create Account
                            </a>
                          {% endif %}
                        {% endif %}
                    </div>
                    <div class="alerts dropdown nav-item">
                        <a aria-haspopup="true" aria-expanded="false" href="#" class="dropdown-toggle nav-link" role="button">
                            <img src="{% static '/images/icons/bell.png' %}" alt="Notifications menu icon">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="">
                            <h2 class="text-center pt-3 pb-3">Recent Notifications</h2>
                            {% if resource_requests %}
                                {% for resource_request in resource_requests %}
                                    <span class="navbar-text">
                                        <div class="alert-item">
                                            {% if resource_request.organization.picture_url %}
                                                <img src="{{ resource_request.organization.picture_url }}" alt="" class="alert-item__image"/>
                                            {% else %}
                                                <img src="{% static '/images/icons/organization_default.png' %}" alt="" class="alert-item__image">
                                            {% endif %}
                                            <div>
                                                <div class="alert-item__text">
                                                    <p>{{ resource_request.notification_text }}</p>
                                                </div>
                                                <div class="alert-item__time">
                                                  {{ resource_request.updated|timesince }} ago
                                                </div>
                                                <div class="alert-item__action-forms">
                                                  {% for action in resource_request.actions %}
                                                    <form action="{% url action.url resource_request.id %}" method="post">
                                                      {% csrf_token %}
                                                      <button class="alert-item__action" type="submit">{{ action.button_text}}</button>
                                                    </form>
                                                  {% endfor%}
                                                </div>
                                            </div>
                                        </div>
                                    </span>
                                {% endfor %}
                            {% else %}
                                <span class="navbar-text">
                                    <div class="alert-item">
                                        <p class="text-center">No notifications</p>
                                    </div>
                                </span>
                            {% endif %}
                    </div>
                </div>
            </div>
            <div id="profile-dropdown" class="account-menu dropdown nav-item">
                <a class="account-menu nav-item" aria-haspopup="true" aria-expanded="false" href="/member/{{ request.user.id }}" class="dropdown-toggle nav-link" role="button" data-toggle="dropdown">
                    {% if request.user.userprofile.picture %}
                      <img src="{{ request.user.userprofile.picture }}" >
                    {% else %}
                      <img src="{% static '/images/icons/avatar_default.png' %}" >
                    {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="">
                    <span class="navbar-text">
                         {% if request.user.userprofile.user_type_code == "O" %}
                        <a class="account-menu nav-item" href="/org/dashboard">Dashboard</a>
                         {% else %}
                         <a class="account-menu nav-item" href="/member">Dashboard</a>
                         {% endif %}
                    </span>
                    <div role="separator" class="dropdown-divider"></div>
                    <span class="navbar-text">
                        <a class="account-menu nav-item" href="/member/{{ request.user.id }}">Profile</a>
                    </span>
                    <div role="separator" class="dropdown-divider"></div>
                    <span class="navbar-text">
                        <a class="account-menu nav-item" href="/logout">Log Out</a>
                    </span>
                </div>
            </div>
        </div>
    </nav>
</header>
