{% extends "base.html" %}
{% load static %}

{% block content %}
<header class="header header--anon text-center">
    <div class="container">
    </div>
</header>

<main>
<div id="root">
    <div class="app auth--false">
        
        
        <div class="home header--anon text-center">
         <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{% static '/images/logo.svg' %}" alt="Share My Health Home" />
        </a>
        <h1 class="header--anon__heading"></h1>
    </div>
        
            <div class="container">
                
                <form class="form--login form--limit-width text-center pb-1"
                      method="GET"
                      action="{% url 'social:begin' 'verifymyidentity-openidconnect' %}">

                   <button type="submit" class="btn btn-primary mb-2 form--limit-width">
                        Sign In
                    </button>
                </form>
                <form class="form--login form--limit-width text-center pb-1"
                      method="GET"
                      action="{{ settings.CREATE_MEMBER_ACCOUNT_URI }}/">
                    <button type="submit" class="btn btn-secondary form--limit-width mb-1">
                        Create Account
                    </button>
                </form>
            </div>
            <div class="container-outline col-10" >
                <div align="left" >
                    <p class="font-weight-bold text-white">
                        Organization Use Only:
                </div>
                <div class="row" >
                    <div class="col-1" style="width:10px"></div>
                    <div class="container-outline align-content-left float-left col-10" style="text-align:left;text-decoration:white;background-color:silver;">
                        Verify/Activate a Member Account
                        <form class="form--login form--limit-width pb-2"
                              method="GET"
                              action="{{ settings.CREATE_MEMBER_ACCOUNT_URI }}/">
                            <button type="submit" class="btn btn-info blue mb-2 " style="padding-left:1px;padding-right:1px;align-content:center;width:200px;">
                                Verify
                            </button>
                        </form>
                    </div>
                    <div class="col-1" style="width:10px"></div>
                </div>
                <div style="height:10px; "></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="container-outline col-10" style="text-align:left;text-decoration:white;background-color:silver;" >
                        Register as an Agent
                        <form class="form--login form--limit-width pb-2 "
                              method="GET"
                              action="{{ settings.CREATE_MEMBER_ACCOUNT_URI }}/">
                            <button type="submit" class="btn btn-info mb-2" style="padding-left:1px;padding-right:1px;align-content:center;width:200px;">
                                Agent Sign up
                            </button>
                        </form>
                    </div>
                    <div class="col-1" style="width:10px"></div>
                </div>
                <div style="height:10px;"></div>
            </div>
        </div>
    </div>
</div>
</main>

{% endblock content %}"
