{% extends "base.html" %}
{% load static %}

{% block content %}
<header class="header header--anon text-center">
    <div class="container">
    </div>
</header>

<main>
<div id="root">
    <div class="app auth--false" style="height:80%">

        <div class="container">
            <div class="home header--anon text-center col-12">
                <div class="row">
                    <div class="container">
                        <a class="navbar-brand" href="/">
                            <img src="{% static '/images/logo.svg' %}" alt="Share My Health Home" />
                        </a>
                        <h1 class="header--anon__heading"></h1>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col">

                        <div class="row ">
                            <div class="container align-left ">
                                <form class="form--login form--limit-width text-center pb-1"
                                      method="GET"
                                      action="{% url 'social:begin' 'verifymyidentity-openidconnect' %}">

                                   <button type="submit" class="btn btn-primary mb-2 form--limit-width align-left">
                                        Sign In
                                    </button>
                                </form>
                                <form class="form--login form--limit-width text-center pb-1"
                                      method="GET"
                                      action="{{ settings.CREATE_MEMBER_ACCOUNT_URI }}/">
                                    <button type="submit" class="btn btn-secondary form--limit-width mb-1">
                                        Create Account
                                    </button>
                                </form>
                            </div>

                        </div>
                        <div class="row container-outline" style="margin-bottom:40px;">
                                <p class="font-weight-bold text-white" style="margin-bottom:10px;">
                                    Organization Use Only:
                                </p>
                            <div class="row">

                                <div class="container-outline align-content-left float-left col-8"
                                     style="text-align:left;text-decoration:white;background-color:silver;margin-bottom:10px;">
                                    Verify/Activate a Member Account
                                    <form class="form--login form--limit-width pb-2"
                                          method="GET"
                                          action="{{ settings.SEARCH_FOR_MEMBER_URI }}">
                                        <button type="submit" class="btn btn-info blue mb-2 "
                                                style="padding-left:1px;padding-right:1px;align-content:center;width:200px;margin-bottom:20px;">
                                            Verify
                                        </button>
                                    </form>
                                </div>

                            </div>

                            <div class="row">

                                <div class="container-outline align-content-left float-left col-8"
                                     style="text-align:left;text-decoration:white;background-color:silver;margin-bottom:10px;" >
                                    Register as an Agent
                                    <form class="form--login form--limit-width pb-2 "
                                          method="GET"
                                          action="{{ settings.CREATE_AGENT_ACCOUNT_URI }}/">
                                        <button type="submit" class="btn btn-info mb-2"
                                                style="padding-left:1px;padding-right:1px;align-content:center;width:200px;margin-bottom:10px;">
                                            Agent Sign up
                                        </button>
                                    </form>
                                </div>


                            </div>

                        </div>

                    </div>
                    <div class="container-outline col-4 align-content-center"
                         style="background-color:white;text-align:left;margin-bottom:40px;">
                        <p>Share My Health enables people who have received treatment from a Doctor or Hospital in the
                            Upstate New York area to create an account that enables them to share their health information
                            with a growing network of community organizations, faith-based organizations and charities.
                        </p>
                        <p>
                           Sharing your health information with these support organizations can speed up your access
                            to critical health and support service.
                        </p>
                    </div>
                    <div class="col-1"></div>

                </div>
        </div>

        </div>

    </div>
</div>
</main>

{% endblock content %}"
