{% extends "base.html" %}

{% block content %}

<p>Here are your organizations:</p>

<ul>
  {% for organization in organizations %}
    <li>
      <span>{{ organization }}</span>
      <a href="{% url 'org:organization-update' organization.pk %}">edit</a>
      <a href="{% url 'org:organization-delete' organization.pk %}">delete</a>

      {% if organization.org_access_to_providers %}
        <div>has access to:</div>
        <ul>
          {% for provider_name in organization.org_access_to_providers %}
            <li>{{ provider_name }}</li>
          {% endfor %}
        </ul>
      {% endif %}

    </li>
  {% endfor %}
</ul>

<a href="{% url 'org:organization-add' %}">Create new organization</a>

{% endblock content %}
