{% extends "base.html" %}

{% block content %}

You may connect to the following:
<ul>
  {% for resource in resources %}
    <li>
      <span>{{ resource.name }}</span>
      {% if resource.connected %}
        <form action="{{ resource.disconnect_url }}" method="post">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.path }}"/>
          <button type="submit">disconnect</button>
        </form>
      {% else %}
        <a href="{{ resource.connect_url }}?next={{ request.path }}">connect</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% endblock content %}
