.alert-item {
  display: flex;

  p {
    margin-bottom: .25em;
  }
}

.alert-item__image {
  height: 60px;
  width: 60px;
  object-fit: cover;
  object-position: 50% 50%;
  margin-right: .75em;
  border-radius: 50%
}

.alert-item__text {
  color: $navy--dark;
  b {
      color: $blue;
    }
}

.alert-item__time {
  color: $gray--lighter;
  font-size: 90%;
  font-style: italic;
}

// Mimic a link.
.alert-item__action {
  color: $gold;
  cursor: pointer;
  font-weight: 500;
  text-align: right;
  text-transform: uppercase;
}
