{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row mr-0 ml-0">
    {% include "member_sidebar.html" with member=member %}
    <div class="member-tabs col-lg-9 p-5">
        {% include "member_tabbed_nav.html" with member=member %}
        <div class="data-sources">
            <div class="mt-5">
                <h2>Current Data Sources</h2>
                {% for data_source in data_sources %}
                    {% if data_source.connected %}
                    <div class="tile-flex">
                        <form action="{% url 'social:disconnect' 'sharemyhealth' %}" method="post">
                          {% csrf_token %}
                          <input type="hidden" name="next" value="{{ request.path }}"/>
                          <button type="submit">
                            <div class="tile tile-flex__item">
                                <img src="{{ data_source.image_url }}" alt="data_source.name">
                                <p>{{ data_source.name }}</p>
                            </div>
                          </button>
                        </form>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="mt-5 pt-5">
                <h2>Available Data Sources</h2>
                {% for data_source in data_sources %}
                    {% if not data_source.connected %}
                    <div class="tile-flex">
                        <a href="{% url 'social:begin' 'sharemyhealth' %}?next={{ request.path }}">
                            <div class="tile tile-flex__item tile-flex__item--add">
                                <img src="{% static '/images/icons/add.png' %}" alt="">
                                <img src="{{ data_source.image_url }}" alt="data_source.name">
                                <p>{{ data_source.name }}</p>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock content %}
