{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row mr-0 ml-0">
    {% include "member_sidebar.html" with member=member user_data=user_data %}
    <div class="member-tabs col-lg-9 p-5">
        <div>
            <h2 class="member-tabs__title d-flex justify-content-between">
                <span>Basic Information</span>
                <span>
                    {% if member.id %}
                        <a id="delete_member" href="/member/{{ member.id }}/delete/">
                            <img src="{% static '/images/icons/trash_can.jpg' %}" />
                        </a>
                        <a id="edit_member">
                            <img src="{% static '/images/icons/edit_icon.jpg' %}" />
                        </a>
                    {% endif %}
                </span>
            </h2>
            {# TODO: Add bootstrap sucess and error messages #}
            <form id="member-update" method="post" data-errors="{% if errors %}true{% else%}{% endif %}">
                {% csrf_token %}
                <dl>
                    <dt>Birthdate</dt>
                    <dd class="form_element hide">
                        <input class="form-control" name="birthdate" value="{{ user_data.birthdate }}" />
                        {% if errors.birthdate %}
                            <span class="invalid-feedback">{{ errors.birthdate.0 }}</span>
                        {% endif %}
                    </dd>
                    {# TODO: template tag to format birthdate #}
                    <dd class="read_only_element">{{ user_data.birthdate }}</dd>

                    <dt>Email</dt>
                    <dd class="form_element hide">
                        <input class="form-control" name="email" value="{{ user_data.email }}" />
                        {% if errors.email %}
                            <span class="invalid-feedback">{{ errors.email.0 }}</span>
                        {% endif %}
                    </dd>
                    <dd class="read_only_element">{{ user_data.email }}</dd>

                    <dt>Phone Number</dt>
                    <dd class="form_element {% if member.id %}hide{% endif %}">
                        <input class="form-control" name="phone_number" value="{{ user_data.phone_number }}" />
                        {% if errors.phone_number %}
                            <span class="invalid-feedback">{{ errors.phone_number.0 }}</span>
                        {% endif %}
                    </dd>

                    {# TODO: template tag to format phone_number #}
                    <dd class="read_only_element">{{ user_data.phone_number }}</dd>

                    <dt>Address</dt>
                    <dd class="form_element {% if member.id %}hide{% endif %}">
                        {# TODO: understand address fields and loop through #}
                        <input class="form-control" name="address" value="{{ user_data.address }}" />
                        {% if errors.address %}
                            <span class="form_element invalid-feedback">{{ errors.address.0 }}</span>
                        {% endif %}
                    </dd>
                    <dd class="read_only_element">{{ user_data.address }}</dd>

                    <dt>Member since:</dt>
                    <dd>{{ member.date_joined|date:"d/m/Y" }}</dd>
                </dl>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary form_element hide" type="submit">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}