{% load static %}
<div class="member-sidebar col-lg-3 pl-0 pb-5 pr-0">
    <div class="member-sidebar__image">
        {% if request.user.profile.picture %}
        <img src="{{ member.profile.picture }}" alt="{{ member.first_name }} {{ member.last_name }}",  class="member-avatar">
        {% else %}
        <img src="{% static '/images/icons/avatar_default.png' %}" alt=">{{ member.first_name }} {{ member.last_name }}", c class="member-avatar">
        {% endif %}
        <p class="member-avatar__overlay mb-0"><img src="{% static '/images/icons/star.png' %}" alt="">ID Verified</p>
    </div>
    <div class="member-sidebar__nav">
        <div class="member-sidebar__heading">
            <h1>{{ member.first_name }} {{ member.last_name }}</h1>
            <p>{{ member.parsed_id_token.gender|title  }}  <span class="mr-2 ml-2">·</span> Age  {{ member.profile.age }}</p>
        </div>
        {% with request.resolver_match.url_name as url_name %}
        <div class="flex-column nav">
            {% if not member.id %}
            <a href="{% url 'member:member-create' %}"
                class="nav-link {% if url_name == 'member-create' %}active{% endif %}"
                role="button">Basic Information</a>
            {% else %}
            <a href="{% url 'member:member-profile' member.id %}"
                class="nav-link {% if url_name == 'member-profile' %}active{% endif %}"
                role="button">Basic Information</a>
            <!--
            <a href="#" data-rb-event-key="memberId" class="nav-link" role="button">Identification</a>
            -->
            <div>
                {# TODO: Change this link to 'member:summary' after url/view is created #}

                {% if request.user.user_type.value == 'Member' or request.user != member %}
                <a href="{% url 'member:records' member.id 'list' %}"
                    class="nav-link {% if url_name == 'data-sources' %}active{% endif %}"
                    role="button">Medical Data</a>
                {% endif %}
                <!--
                <a href="#" data-rb-event-key="memberNotes" class="nav-link" role="button">Notes</a>
                <a href="#" data-rb-event-key="memberLockbox" class="nav-link" role="button">Lockbox</a>
                -->
                {% if member.user_type == member.UserType.MEMBER %}
                    <a
                        href="{% url 'member:organizations' member.id %}"
                        data-rb-event-key="memberOrgs"
                        class="nav-link  {% if url_name == 'organizations' %}active{% endif %}"
                        role="button">Service Providers</a>
                {% else %}
                    <a
                        href="{% url 'member:organizations' member.id %}"
                        data-rb-event-key="memberOrgs"
                        class="nav-link  {% if url_name == 'organizations' %}active{% endif %}"
                        role="button">Organizations</a>
                    <ul class="list--formatted">
                        {% for o in request.user.agent_organizations.all %}
                        <li class="user-link">
                            {{o.name}}
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% endif %}
        </div>
        {% endwith %}
    </div>
</div>
