{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row mr-0 ml-0">
    {% include "member_sidebar.html" with member=member %}
    <div class="member-tabs col-lg-9 p-5">
        <div>
            <h2 class="member-tabs__title d-flex justify-content-between">
                <span>Basic Information</span>
                <span>
                    {% if member.id %}
                        <!-- <a id="delete_member" href="/member/{{ member.id }}/delete/">
                            <img src="{% static '/images/icons/trash_can.jpg' %}" />
                        </a> -->
                        <!-- <a id="edit_member">
                            <img src="{% static '/images/icons/edit_icon.jpg' %}" />
                        </a> -->
                    {% endif %}
                </span>
            </h2>
            <form method="post">
                {% csrf_token %}
                <dl>
                    {% if not member.id %}
                        <dt>{{ form.user.label_tag|title }}</dt>
                        <dd>{{ form.user }}</dd>
                        <dd class="form_element invalid-feedback {% if member.id %}hide{% endif %}">{{ form.user.errors }}</dd>
                    {% endif %}

                    {% if member.userprofile.sub %}
                    <dt>Permanent Link:</dt>
                    <dd>
                        <a class="member-tabs__link" href="{% url 'member:subject_url' subject=member.userprofile.sub %}">
                            {{ settings.HOSTNAME_URL }}{% url 'member:subject_url' subject=member.userprofile.sub %}
                        </a>
                    </dd>
                    {% endif %}

                    <dt>{{ form.birth_date.label_tag|title }}</dt>
                    <dd class="form_element {% if member.id %}hide{% endif %}">{{ form.birth_date }}</dd>
                    <dd class="form_element invalid-feedback {% if member.id %}hide{% endif %}">{{ form.birth_date.errors }}</dd>
                    <dd class="read_only_element {% if not member.id %}hide{% endif %}">{{ member.userprofile.birthdate }}</dd>

                    <dt>Email:</dt>
                    <dd>{{ member.email }}</dd>

                    <dt>{{ form.phone_number.label_tag|title }}</dt>
                    <dd class="form_element {% if member.id %}hide{% endif %}">
                        {{ form.phone_number }}
                        <span class="form_element invalid-feedback {% if member.id %}hide{% endif %}">{{ form.phone_number.errors }}</span>
                    </dd>

                    <dd class="read_only_element {% if not member.id %}hide{% endif %}">{{ member.phone_number|default:"" }}</dd>

                    <dt>{{ form.address.label_tag|title }}</dt>
                    <dd class="form_element {% if member.id %}hide{% endif %}">
                        {{ form.address }}
                        <span class="form_element invalid-feedback {% if member.id %}hide{% endif %}">{{ form.address.errors }}</span>
                    </dd>
                    <dd class="read_only_element {% if not member.id %}hide{% endif %}">{{ member.address|default:"" }}</dd>

                    <dt class="read_only_element {% if not member.id %}hide{% endif %}">Emergency Contact:</dt>
                    <dt class="form_element {% if member.id %}hide{% endif %}">{{ form.emergency_contact_name.label_tag|title }}</dt>
                    <dd class="form_element {% if member.id %}hide{% endif %}">
                        {{ form.emergency_contact_name }}
                        <span class="invalid-feedback">{{ form.emergency_contact_name.errors }}</span>
                    </dd>

                    <dt class="form_element {% if member.id %}hide{% endif %}">{{ form.emergency_contact_number.label_tag|title }}</dt>
                    <dd class="form_element {% if member.id %}hide{% endif %}">
                        {{ form.emergency_contact_number }}
                         <span class="invalid-feedback">{{ form.emergency_contact_number.errors }}</span>
                    </dd>

                    <dd class="read_only_element {% if not member.id %}hide{% endif %}">{{ member.userprofile.emergency_contact_name|default:"" }}&#x2003;<a href="tel:{{ member.userprofile.emergency_contact_number|default:'' }}">{{ member.userprofile.emergency_contact_number|default:"" }}</a></dd>

                    <dt>Member since:</dt>
                    <dd>{{ member.date_joined|date:"d/m/Y" }}</dd>
                                        <dt>Identification:</dt>
                    <dd>Identity Assurance Level (IAL): {{ member.userprofile.id_token_payload.ial }}</dd>
                    <dd>Authenticator Assurance Level(AAL): {{ member.userprofile.id_token_payload.aal }}</dd>
                    <dd>Issuer: {{ member.userprofile.id_token_payload.iss }}</dd>
                    <dd>Audience: {{ member.userprofile.id_token_payload.aud }}</dd>
                    <dd>Picture: {{ member.userprofile.id_token_payload.picture }}</dd>

                </dl>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary form_element {% if member.id %}hide{% endif %}" type="submit">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
