{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row mr-0 ml-0">
    {% include "member_sidebar.html" with member=member %}
    <div class="member-tabs col-lg-9 px-5">
        {% include "time_since_update.html" %}
        {% include "member_tabbed_nav.html" with member=member %}
        <div role="tabpanel" aria-hidden="true" class=" tab-pane">
            <!-- showing the list of providers based on encounters here -->
            <div class="heading-with-sort d-flex justify-content-between align-items-center mt-5 mb-3">
                <h2>Physician Providers</h2>
                <form class="mb-2 form-inline">
                    <div class="form-group">
                        <label for="sortOption" class="mr-2 mb-0 form-label">Sort by</label>
                        <select id="sortOption" class="form-control">
                            <option>Most Recent</option>
                        </select>
                    </div>
                </form>
            </div>

            {% if practitioners %}
            <table class="table table--records mt-2 table-hover">
                <thead>
                    <tr>
                        <th width="34%">Provider’s Name</th>
                        <th width="33%">Date Last Seen</th>
                        <th width="33%">Location</th>
                    </tr>
                </thead>
                <tbody>
                    {% for practitioner in practitioners %}
                    <tr>
                        <td>
                            <a class="modal-link"
                                href="{% url 'member:provider_detail' pk=member.id provider_id=practitioner.id %}">
                                {{ practitioner.names_text }}
                            </a>
                        </td>
                        <td>{% firstof practitioner.last_encounter.period.start '—' %}</td>
                        <td>{% firstof practitioner.last_encounter.locations_display '—' %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
