<div class="row mt-1">
    <p id="timestamp" hidden="hidden">{{ updated_at }}</p>
    <p hidden="hidden">{{ timestamp }}</p>
    <div class="col alert alert-warning">
        <p id="message1"></p>
        {% if updated_at != None %}
        <script type="text/javascript">
            console.log("script called");
            try {
                document.getElementById("message1").innerHTML += "Health information was last updated " + new Date(document.getElementById("timestamp")).toLocaleString();
            }
            catch {
                document.getElementById("message1").innerHTML += "Health information was last updated " + document.getElementById("timestamp");
                console.log(document.getElementById("timestamp"));
            }
        </script> 
        
        {% else %}
        Health data has not been updated yet
        {% endif %}

        {% if member != request.user %}

        If the health information needs to be updated, please request the member to login into Share My Health
        {% endif %}

    </div>
    {% if member == request.user  and  time_since_update.minutes > 0 %}
    <div class="col-auto">
        <form method="post" action="{% url 'member:refresh-data' member.id %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}"></input>
            <input class="btn btn-primary" type="submit" value="Update Now"></input>
        </form>
    </div>
    {% endif %}

</div>
