<div class="table-responsive">
    <table class="table table--records table-hover">
        {% for activity_date, item in content_list.items %}

            <tr>
                <td>{{ activity_date }}</td>
            </tr>

                {%  autoescape off %}
                    {% for r in item %}
                        {% if r %}
                            {{ r|resourceview:member.id }}
                        {% endif %}
                    {% endfor %}
                {% endautoescape %}

        {% endfor %}
    </table>
</div>