<div class="row mt-1">
{% if time_since_update.days > 0 %}
    <div class="col alert alert-warning">The health data was last updated {{ time_since_update.days }} days ago.
        {% if member != request.user %}
        Please ask the member to login and refresh it.
        {% endif %}
    </div>
    {% if member == request.user %}
    <div class="col-auto">
        <form method="post" action="{% url 'member:refresh-data' member.id %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}"></input>
            <input class="btn btn-primary" type="submit" value="Update Now"></input>
        </form>
    </div>
    {% endif %}
{% endif %}
</div>
